# Sign in on your playstation account through https://playstation.com
# After signing in, go to https://ca.account.sony.com/api/v1/ssocookie to find your SSO token.

NPSSO="<64 character token>"

DB_NAME="database.db"